*{box-sizing: border-box; color:#fff; font-size:18px;}
a{text-decoration: none;}
body{transition: none;}
body.loaded{background-color: rgb(0,0,30); margin:0px; padding: 0px;}
button,.btn{background-color: transparent; border:2px solid #ffb630; padding:2% 6%}
.select{padding:1% 5%; background-color: #fff; position: relative; cursor:pointer; max-width:100%}
.select *{color:#555}
select,select option{color:#000; border: none; width:100%}
select.option{color:#000}
.big,.big *{font-size:50px; margin-top:0; margin-bottom:0}
.big span{color:#ffb630}
progress{background-color: rgb(0,0,30); width:80%; max-width: 400px;}
progress::-webkit-progress-bar{border-radius: 25px;}
progress::-webkit-progress-value{
    background-color:#ffb630; border-radius: 25px; 
    background-image:linear-gradient(90deg,#ffb630,#fff)
}

/*menu items*/
.menu{padding:1%; background-color: rgb(0,0,30); z-index:5}
.menu .item{padding:1%;}
.menu *{transition: none;}
.currentLink{border-bottom:2px solid #ffb630;}
.currentLink a{color: #ffb630; font-weight: bold;}

#logo *{font-size:40px; font-weight: bold; transition: none;}
#logo{text-align: center; animation-name: fade; animation-duration: 3s; animation-iteration-count: infinite; transition: none;}
#main{padding:0 5% 0 5%;}
.left-border{border-left:2px solid #ffb630; padding-left:2%}
#introduction .space-up,.space-up._5{margin-top:5%}
#philosophy{border:2px solid #ffb630;}
#skills .select{margin-top:3%; margin-left: 2%; display:inline-block}
.theme-bg{background-color: rgb(0,0,30);}
.black-all *,.black-all{color:#000}

#project-tab-wrapper{max-width:700px}
#project-list-view img{
    width:40%; width:40vw; height:40vw; max-width: 50px; max-height:50px; object-fit: cover;
}
#project-grid-view img{
    width:100%; width:50vw; height:50vw; max-width:100px; max-height:100px; object-fit: cover;
}
#project-grid-view .item{text-align: center; width:49%; margin-left:1%; margin-top:2%}
#project-grid-view .name{text-align: center;}
#view-control{background-color: #ffb630; background-image: linear-gradient(90deg,#fff,#ffb630);}
#view-control .selected{border-bottom:3px solid #00f; background-color: rgba(0,0,40,0.5);}
#project-list-view{margin-top:5%; padding:3%}
#project-grid-view{margin-top:5%; padding:3%;}

#view-project{margin-top:5%}
#view-project #images{width:100%}
#view-project #images img{width:100%}
.minitab button{color:#000}

button:hover{background-color: #ffb630;}

::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-thumb{background-color: #ffb630; 
    background-image: linear-gradient(180deg,#ffb630,rgb(0,0,30));
}

@keyframes fade{
    50%{opacity:0.1}
    100%{opacity:1}
}
@media only screen and (min-width:500px){
    #project-grid-view .item{width:30%}
}
@media only screen and (max-width:250px){
    #project-grid-view .item{width:100%; float:none}
}